@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --back: #120f0f;
  --front: #f8f8f8;
  --middle: #026d6d;
}
html {
  transition: all 0.3s ease-in-out;
}
body {
  background-color: var(--back);
  color: var(--front);
}
.mid {
  background-color: var(--middle);
}
